*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background: hsl(210, 36%, 96%);
}

nav {
  background-color: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: 0px;
}

li {
  display: list-item;
  height: 50px;
  padding: 13px;
}

li:hover {
  background-color: #49c5b6;
}

.submit-btn {
  border-radius: 10px;
  border-color: transparent;
  padding: 0.25rem 0.5rem;
  display: block;
  width: 35%;
  margin-left: auto;
  margin-top: 2rem;

  font-weight: 700;
  letter-spacing: 2px;
  font-size: 10px;
  background: #ffb100;
  color: black;

  cursor: pointer;
}

.form-control {
  margin-bottom: 10px;
}
.form-control label {
  display: block;

  font-weight: 500;
  color: black;
  margin-bottom: 0.5rem;
}
.form-input {
  border: none;
  background: lightgray;
  font-size: 15px;
  padding: 0.25rem 0.5rem;
  width: 50%;
  border-radius: 3px;
}

.submit-btn {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.active-nav {
  background-color: #49c5b6;
}

.inactive-nav > a {
  color: rgb(255, 255, 255);
}
